<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ drink_name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{ drink_name }}</h1>
    <img src="/{{ image_filename }}" alt="{{ drink_name }}" style="width: 90%; max-width: 300px; height: auto;">
    <p><strong>Gradazione:</strong> {{ drink_info['GRADAZIONE'] }}</p>
    <p><strong>Bicchiere consigliato:</strong> {{ drink_info['BICCHIERE'] }}</p>
    
    <h2>Ingredienti:</h2>
    <ul>
        {% for ingrediente in ingredienti %}
            <li>{{ ingrediente }}</li>
        {% endfor %}
    </ul>

    <form action="/select" method="post">
        <input type="hidden" name="collection" value="{{ collection }}">
        <button type="submit">Indietro</button>
    </form>
</body>
</html>